#tool-wrapper
	ul
		li
			a(href="")
				img(src="./img/icons/phone.png" alt="")
		li
			a(href="")#facebook
				img(src="./img/icons/facebook.png" alt="")
		li
			a(href="javascript: ;")#to-top
				img(src="./img/icons/gototop.png" alt="")
