#tool-wrapper
	position: fixed
	bottom: 50px
	right: 15px
	transform: translateY(-50%)
	z-index: 1000
	transition: all 1s
	.Module
		width: 100%
	ul
		list-style: none
		padding: 0
		li
			margin-bottom: 10px
			transition: all 1s cubic-bezier(.22, .44, 0, 1)
			a
				width: 44px
				height: 44px
				box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1)
				border-radius: 50%
				background-color: #6d6e70
				display: flex
				align-items: center
				justify-content: center
			&:last-child
				a
					background-color: #0a293b
