section.home-page-4.kv-section(setBackground='../img/index/bg-home-4.png' data-title='tin tức')
	.container
		.main-title.text-center.color-title.text-uppercase tin tức mới
		.row
			-for(i=1; i<7; i++)
				.col-lg-4.col-md-6.col-sm-6
					.item-news.zoom-img
						.item-img
							a(href="")
								img.lazyload(data-src="./img/index/news-"+i+".png" alt="")
								.time 15.09.2020
						.item-desc
							a(href="").text.f-16.lcl-lcl-2 Bình Định: Thu hút đầu tư bứt phá nhờ phát triển hạ tầng
			a.btn.btn-view-more(href="") Xem tất cả
