section.kv-section.home-page-3(setBackground='../img/index/bg-home-3.png' data-title='dự án')
	.container
		.main-title.text-center.color-title.text-uppercase dự án mới
		.row
			-for(i=1; i<7; i++)
				.col-lg-4.col-md-6
					.project-item
						a.item-link(href="")
							.item-img
								img.lazyload(data-src="./img/index/pro-"+i+".png" alt="")
								.img-hover
							.item-desc
								.text.f-24.text-uppercase.text-center Baria Residence
			.tab-button
				a.btn.btn-view-more(href="") Xem tất cả